[submodule "themes/tranquilpeak"]
	path = themes/tranquilpeak
	url = https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak
[submodule "themes/kuber-tranquilpeak"]
	path = themes/kuber-tranquilpeak
	url = https://github.com/kubertalk/hexo-theme-tranquilpeak
